---
import { ArrowRightIcon } from 'lucide-react';
import { Card, CardDescription, CardHeader, CardTitle } from './ui/card';
import { Image } from 'astro:assets';
import cardTopBackgroundImage from '../assets/card-image.png';
import myLogo from '../assets/my-logo.svg';

const projects = [
  {
    name: 'Summary AI',
    url: 'https://mainpoint-ai.vercel.app/',
    description:
      'AI tool for summarizing pdf documents in a social media story format.',
  },
  {
    name: 'Drive Clone',
    url: 'https://drive-clone-one-nu.vercel.app/',
    description: 'Online storage service for your files.',
  },
  {
    name: 'Destination Weather',
    url: 'https://destination-weather.vercel.app/',
    description: 'Check how the weather is in the place you want.',
  },
  {
    name: 'Blog App',
    url: 'https://blog-app-sigma-blond.vercel.app/',
    description: 'Simple tool for writing blog posts.',
  },
];
---

<section id="projects" class="p-12 text-slate-300 md:p-24">
  <h2 class="mb-8 text-center text-4xl font-bold md:mb-6 xl:mb-16">
    Noticeable Projects
  </h2>
  <div
    class="mb-2 grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      projects.map((project) => (
        <Card className="bg-[#0A0F1F] border-0 pt-0 group">
          <a href={project.url} target="_blank " rel="noopener noreferrer">
            <div class="relative">
              <Image
                src={cardTopBackgroundImage}
                alt="card background image"
                class="h-40 w-full rounded-t-xl object-cover md:h-44"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <Image
                  src={myLogo}
                  alt="logo"
                  class="size-52 fill-white drop-shadow-[0_2px_4px_rgba(255,255,255,0.4)] sm:size-72 md:size-80"
                />
              </div>
            </div>
            <CardHeader className="pt-4 text-slate-300">
              <CardTitle className="text-xl font-semibold line-clamp-2">
                {project.name}
              </CardTitle>
              <CardDescription className="line-clamp-3 text-slate-300 flex items-center justify-between">
                {project.description}
                <ArrowRightIcon className="size-6 md:size-8 -translate-x-4 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 duration-300 transition-all" />
              </CardDescription>
            </CardHeader>
          </a>
        </Card>
      ))
    }
  </div>
</section>
